@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.div-slider{
    width: 100px;
    height: 600px;
    text-align: center;
   

    }
    .slides-front {
        padding: 0;
        width: 980px;
        height: 570px;
        display: block;
        margin: auto;
        position: relative;
    }
    
    .slides-front * {
        user-select: none;
        -webkit-touch-callout: none;
    }
    
    .slides-front input { display: none; }
    
    .slide-container { display: block; }
    
    .slide {
        opacity: 0;
        width: 980px;
        height: 370px;
        display: block;
        position: absolute;
        transform: scale(0);
        transition: all .7s ease-in-out 0.5s;
    }
    
    .slide img {
        width: 900px;
        height: 550px;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    }

    
    .nav label {
        width: 150px;
        height: 100%;
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: #FFF;
        font-size: 156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }
    
    .slide:hover + .nav label { opacity: 0.5; }
    
    .nav label:hover { opacity: 1; }
    
    .nav .next { right: 0; }
    
    input:checked + .slide-container  .slide {
        opacity: 1;
    
        transform: scale(1);
    
        transition: opacity 1s ease-in-out 0.1s;
    }
    
    input:checked + .slide-container .nav label { display: block; }
    
    .nav-dots {
        width: 100%;
        bottom: 9px;
        height: 11px;
        display: block;
        position: relative;
        text-align: center;
    }
    
    .nav-dots .nav-dot {
        top: 375px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }
    input#img-1:checked ~ .nav-dots label#img-dot-1, input#img-2:checked ~ .nav-dots label#img-dot-2, input#img-3:checked ~ .nav-dots label#img-dot-3{
        background: rgba(0, 0, 0, 0.8);
    }
    .leva{
        margin-left: 0px;
        margin-top: 150px;
    }
    