body {
	background-color: #dddddd;
	font-family: Arial, sans-serif;
}
.interface{
    display: none; 
}

.angola{
    width: 900px;
    height: 500px;
	background-color: #ffffff;
	margin: 20px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 10px;   

}

.flex2{
    margin: 150px ;
    text-align: justify;
    font-size: 13pt;
}

.btn2{
    width: 315px;
    height: 70px;
}

.ad{
    text-align: center;
    margin: 10px;
}
.ad a button {
   
    display: flex;
    box-pack: start;
    justify-content: flex-start;
    box-align: center;
    align-items: center;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    height: 70px;
    margin: 0;
    padding: 10px 20px 10px 25px;
    border: 1px solid #d8d8d8;
    font: 700 18px/120% Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #ffffff;
}
.ad a button {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}
.ad{
    padding: 9px 19px 9px 24px;
    border-width: 2px;
    border-color: #f50300;
    cursor: pointer;
}
a button:hover{
    border-color: #f50300;
    filter: none;
}

/*                     */

.address {
   width: 650px;
   height: 965px;
    text-align: center;
    align-items: center;
   
}
.adress .result{
   list-style: none;
    display: block;
    margin-top: 30px;
}
.address  .results > .ala {
    display: flex;
    box-pack: start;
    justify-content: flex-start;
    box-align: center;
    align-items: center;
    padding: 15px 0;
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
}
.address .results > .ala .details {
    align-items: center;
    text-align: center;
    width: 509px;
    height: 13px;
   
}
.adress .result > .ala .details .title {
    margin-left: 50px;
    display: block;
    font: 700 15px/ 130% Arial, Helvetica, sans-serif;
    width: 509px;
    height: 13px;
}

.adress .result > .ala .details .descri {
    margin-left: -10px;
    width: 509px;
    height: 13px;
    display: block;
    margin-top: 15px;
    font: 400 11px/130% Arial, Helvetica, sans-serif;
    color: #6a6a6a;
   
  
}

.dress .result> .ala > button {
    display: inline-block;
    margin-left: 100px;
    padding: 7px 20px;
    font: 400 12px/120% Arial, Helvetica, sans-serif;
    color: #666666;
    border-color: #a0a0a0;
    color: #000000;
    cursor: default;
}
button {
    background: #ffffff;
    border-color: #dddddd;
    font: 400 16px/120% Arial, Helvetica, sans-serif;
    color: #000000;
}
button {
    position: relative;
    display: inline-block;
    padding: 0;
    font: 400 15px/ 22px Arial, Helvetica, sans-serif;
    color: #000000;
    cursor: pointer;
}
.sala{
    margin-left: 500px;
    margin-top: -40px;
    
}

.linha{
    border-top: 1px solid #6a6a6a;
    border-bottom:1px solid #6a6a6a; ;
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 0px;
}